body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #d4e3fc, #ffefe5);
    color: #333;
    margin: 0;
    height: 100vh; 
    display: flex; 
}

/* clear borders and outline */
fieldset,.deleteItemButton,#addItemButton{
 border:none;
 outline:none;
}
.sidebar {
    width: 250px; 
    height: 100vh; 
    background-color: #f4f4f4; 
}

h1{
    text-align: center;
}
.main-container{
    margin: 0 auto;
}
/* 
no line around fieldset
nice delete button
nice add button
*/
.headerLabel{
    font-size: 24px;
}

fieldset{
    border: none;
}

.deleteItemButton{
    background-color: #f44;
    color:#fff;
    text-align: center;
    width: 24px;
    height: 24px;
    line-height: 24px;/*align x*/
    border-radius: 50%;
    font-weight: 900;
}

.quantity{
    width: 20%;
}

#addItemButton,button[type="submit"]{
    padding: 8px;
    border-radius: 8px;
    background: #7af;
    border: 1px solid;
}
button[type="submit"]{
    margin: 0 auto;
}
.quantityInput,.priceInput{
    width: 50px;
}
input,textarea{
    background: #f9f9f9;
    border: 1px solid #222;
    outline: none;
    padding: 8px;
    border-radius: 8px;
    outline: 0;
}
#baAndDateWrapper{
    display: flex;
    justify-content: space-between;
}
#invoiceBAWrapper{
    text-align: center;
    width: 25%;
}
#dateWrapper{
    text-align: center;
    float: right;
}
textarea[name="invoiceBA"]{
    resize: none;
    width: 100%;
    height: 10vh;
}
#addButtonAndTotal{
    margin: 0 auto;
}