/* Mobile specific styles */
.chat-container {
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.contacts {
    width: 100%;
    border: none;
    padding: 10px;
    background-color: #fff;
}

.chat-interface {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    height: 100vh; /* Full height of the viewport */
    overflow-y: auto; /* Enable scrolling */
}

.chat-messages {
    flex-grow: 1; /* Take up remaining space */
    padding: 10px;
}

.mobile-back-btn {
    display: flex;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
}

.add-contact-btn {
    width: 100%;
    text-align: center;
}

/* Add other mobile-specific styles as necessary */
